body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 15%;
    background:#CACCF1 url("/mep.ss/src/image/world.jpg") no-repeat left top;

}

.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
    background: url("/mep.ss/src/image/right.png") no-repeat right top,url("/mep.ss/src/image/left.png") no-repeat left bottom;
    text-align: center;

}
.box input[ type="text"],.box input[ type="password"]{
    width: 55%;
    border: 0;
    font-size: large;
    background:whitesmoke;
    display: block;
    margin: -5px auto;
}
.box input[ type="submit"]{
    border: 0;
    background:#0800fe;
    display: block;
    margin: 10px auto;
}
p.header{
    color: purple;
    font: italic small-caps bold 18px/30px Georgia, serif;

}
.purpose{
    width: 400px;
    padding: 10px;
    position: absolute;
    top: 35%;
    left: 10%;
    font: italic small-caps bold 18px/30px Georgia, serif;

}
